# Misc
*~
*.zip

#eclipse projewct files
.project
.cproject
shell/*
Default/*
runCommand/*
.setting/*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
runCommand
shell
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/Default/
